.product-screen {
    width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img{
    width:527.82px;
    height: 300px;
    order: 2;
    margin-left:-100px;
}

.price{
    position: static;
    height: 44px;
    left: 29px;
    top: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #1A1F36;
}

.info-text{
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}

.product-description{
    padding-bottom: 50px;
    order: 1;
}